*{
    margin: 0;
    padding: 0;
}

html,
body {
 height: 100%;
 position: relative;
}

.main {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.netflix-text {
    color: #F65262;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.white-text {
    color: white;
}

.header-section {
    background-color: rgba(0, 0, 0, 1);
}

.title-section {
    margin: 0 auto;
    padding: 10px;
}

.search-section {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.search-section > * {
    margin: 10px 0;
}

.footer-section {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.search-selection {
    padding: 0 10px;
}

.search-selection > * {
    margin: 0 10px;
}

.search-title {
    padding: 3px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #F65262;
    width: 20%;
}

.content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 10px;
    background-color: #F65262;
    cursor: pointer;
}

.filter-container {
    background-color: #F5F5F5;
    padding: 5px;
}

.sort-detail {
    float: right;
}

.sort-detail > span {
    margin: 0 10px;
    cursor: pointer;
}

.moviedata-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movieitem-container {
    flex-basis: 30%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0;
}

.movieitem-container > figure {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.movieitem-year {
    float: right;
    font-size: 13px;
}

.movieitem-img {
    max-width: 100%;
}

.movieitem-genres {
    font-size: 13px;
}

.nofilm-error {
    margin: 0 auto;
}

/* Movie Detail Screen */

.movie-poster {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9)
}

.movie-img {
    max-width: 400px;
    max-height: 400px;
    padding: 50px 0;
}

.movie-detail {
    max-width: 50%;
    color:white;
    padding: 50px 0;
}

.movie-detail > * {
    padding: 5px 0;
    font-size: 18px;
}

.movie-detail > span {
    display: block;
}

.movie-title {
    font-size: 28px;
    color: #E2535F;
    font-weight: bold;
}

.movie-length {
    margin-left: 10px;
}

.movie-description {
    width: 70%;
    text-align: justify;
}